body{
    margin: 0;
    padding: 0;
}
.app {
  /* margin: 5px; */
  /* background-color: blue;
  font-size: larger;
  padding: 10px; */
}
.Header {
  font-size: 1.4em;
  overflow: auto;
  color: white;
  background: red;
  font-weight: bold;
}
.Header.link {
  padding: 1.5rem;
  text-decoration: none;
}
.right{
    float: right;
}
.left{
    float: left;
}
